<div id="wrapper">
  <div class="sorting" data-type='0' data-order='0'>
    <label>並べ替え</label>
    <button class="ascend" data-type='0'>価格</button>
    <button data-type='1'>年式</button>
    <button data-type='2'>評価点</button>
    <button data-type='4'>問合No</button>
    <button data-type='8'>走行距離</button>
    <strong></strong>
    <div class="closeBtn"></div>
  </div>
  <div class="conditionModal">
    <div class="prevBtn prevCond"></div>
    <div class="nextBtn nextCond"></div>
    <ul class="inner searchSlider">
      <li class="sContainer">
        <div class="closeBox"></div>
        <div class="conditionBox">
          <h1>メーカー</h1>
          <div class="allSelectBtn">全選択</div>
          <ul class="manufacturer"></ul>
          <div class="selectBtn">検索</div>
        </div>
      </li>
      <li class="sContainer">
        <div class="closeBox"></div>
        <div class="conditionBox">
          <h1>色</h1>
          <div class="allSelectBtn">全選択</div>
          <ul class="colors"></ul>
          <div class="selectBtn">検索</div>
        </div>
      </li>
      <li class="sContainer">
        <div class="closeBox"></div>
        <div class="conditionBox">
          <h1>ボディータイプ</h1>
          <div class="allSelectBtn">全選択</div>
          <ul class="bodyType"></ul>
          <div class="selectBtn">検索</div>
        </div>
      </li>
      <li class="sContainer">
        <div class="closeBox"></div>
        <div class="conditionBox">
          <h1>その他</h1>
          <div>
            <div class="rangeBox">
              <h3 data-label="lb_search_cond_modelyear" placeholder="年式">年式</h3>
              <div class="selectItem">
                <select id="search_cond_modelyear_from" class="rangeBoxSelect">
                  <option value="" data-label="lb_search_cond_none" placeholder="指定なし">指定なし</option>
                  <option value="2014">2014年
                  </option><option value="2013">2013年
                  </option><option value="2012">2012年
                  </option><option value="2011">2011年
                  </option><option value="2010">2010年
                  </option><option value="2009">2009年
                  </option><option value="2008">2008年
                  </option><option value="2007">2007年
                  </option><option value="2006">2006年
                  </option><option value="2005">2005年
                  </option><option value="2004">2004年
                  </option><option value="2003">2003年
                  </option><option value="2002">2002年
                  </option><option value="2001">2001年
                  </option><option value="2000">2000年
                  </option><option value="1999">1999年
                  </option><option value="1998">1998年
                  </option><option value="1997">1997年
                  </option><option value="1996">1996年
                  </option><option value="1995">1995年
                  </option>
                </select>
                          ~
                <select id="search_cond_modelyear_to" class="rangeBoxSelect">
                  <option value="" data-label="lb_search_cond_none" placeholder="指定なし">指定なし</option>
                  <option value="2014">2014年
                  </option><option value="2013">2013年
                  </option><option value="2012">2012年
                  </option><option value="2011">2011年
                  </option><option value="2010">2010年
                  </option><option value="2009">2009年
                  </option><option value="2008">2008年
                  </option><option value="2007">2007年
                  </option><option value="2006">2006年
                  </option><option value="2005">2005年
                  </option><option value="2004">2004年
                  </option><option value="2003">2003年
                  </option><option value="2002">2002年
                  </option><option value="2001">2001年
                  </option><option value="2000">2000年
                  </option><option value="1999">1999年
                  </option><option value="1998">1998年
                  </option><option value="1997">1997年
                  </option><option value="1996">1996年
                  </option><option value="1995">1995年
                  </option>
                </select>
              </div>
            </div>


            <div class="rangeBox">
              <h3 data-label="lb_search_cond_mileage" placeholder="走行距離">走行距離</h3>
              <div class="selectItem">
                <select id="search_cond_mileage_from" class="rangeBoxSelect">
                  <option value="" data-label="lb_search_cond_none" placeholder="指定なし">指定なし</option>
                  <option value="0" data-label="lb_search_cond_mileage_1" placeholder="0km">0km</option>
                  <option value="1" data-label="lb_search_cond_mileage_2" placeholder="1万km">1万km</option>
                  <option value="2" data-label="lb_search_cond_mileage_3" placeholder="2万km">2万km</option>
                  <option value="3" data-label="lb_search_cond_mileage_4" placeholder="3万km">3万km</option>
                  <option value="4" data-label="lb_search_cond_mileage_5" placeholder="4万km">4万km</option>
                  <option value="5" data-label="lb_search_cond_mileage_6" placeholder="5万km">5万km</option>
                  <option value="6" data-label="lb_search_cond_mileage_7" placeholder="6万km">6万km</option>
                  <option value="7" data-label="lb_search_cond_mileage_8" placeholder="7万km">7万km</option>
                  <option value="8" data-label="lb_search_cond_mileage_9" placeholder="8万km">8万km</option>
                  <option value="9" data-label="lb_search_cond_mileage_10" placeholder="9万km">9万km</option>
                  <option value="10" data-label="lb_search_cond_mileage_11" placeholder="10万km">10万km</option>
                  <option value="11" data-label="lb_search_cond_mileage_12" placeholder="11万km">11万km</option>
                  <option value="12" data-label="lb_search_cond_mileage_13" placeholder="12万km">12万km</option>
                  <option value="13" data-label="lb_search_cond_mileage_14" placeholder="13万km">13万km</option>
                  <option value="14" data-label="lb_search_cond_mileage_15" placeholder="14万km">14万km</option>
                  <option value="15" data-label="lb_search_cond_mileage_16" placeholder="15万km">15万km</option>
                </select>
                          ~
                <select id="search_cond_mileage_to" class="rangeBoxSelect">
                  <option value="" data-label="lb_search_cond_none" placeholder="指定なし">指定なし</option>
                  <option value="0" data-label="lb_search_cond_mileage_1" placeholder="0km">0km</option>
                  <option value="1" data-label="lb_search_cond_mileage_2" placeholder="1万km">1万km</option>
                  <option value="2" data-label="lb_search_cond_mileage_3" placeholder="2万km">2万km</option>
                  <option value="3" data-label="lb_search_cond_mileage_4" placeholder="3万km">3万km</option>
                  <option value="4" data-label="lb_search_cond_mileage_5" placeholder="4万km">4万km</option>
                  <option value="5" data-label="lb_search_cond_mileage_6" placeholder="5万km">5万km</option>
                  <option value="6" data-label="lb_search_cond_mileage_7" placeholder="6万km">6万km</option>
                  <option value="7" data-label="lb_search_cond_mileage_8" placeholder="7万km">7万km</option>
                  <option value="8" data-label="lb_search_cond_mileage_9" placeholder="8万km">8万km</option>
                  <option value="9" data-label="lb_search_cond_mileage_10" placeholder="9万km">9万km</option>
                  <option value="10" data-label="lb_search_cond_mileage_11" placeholder="10万km">10万km</option>
                  <option value="11" data-label="lb_search_cond_mileage_12" placeholder="11万km">11万km</option>
                  <option value="12" data-label="lb_search_cond_mileage_13" placeholder="12万km">12万km</option>
                  <option value="13" data-label="lb_search_cond_mileage_14" placeholder="13万km">13万km</option>
                  <option value="14" data-label="lb_search_cond_mileage_15" placeholder="14万km">14万km</option>
                  <option value="15" data-label="lb_search_cond_mileage_16" placeholder="15万km">15万km</option>
                </select>
              </div>
            </div>

            <div class="rangeBox">
              <h3 data-label="lb_search_cond_estimation" placeholder="評価点">評価点</h3>
              <div class="selectItem">
                <select id="search_cond_estimation_from" class="rangeBoxSelect">
                  <option value="" data-label="lb_search_cond_none" placeholder="指定なし">指定なし</option>
                  <option value="10" data-label="lb_search_cond_estimation_1" placeholder="S">S</option>
                  <option value="9" data-label="lb_search_cond_estimation_2" placeholder="6">6</option>
                  <option value="8" data-label="lb_search_cond_estimation_3" placeholder="5">5</option>
                  <option value="7" data-label="lb_search_cond_estimation_4" placeholder="4.5">4.5</option>
                  <option value="6" data-label="lb_search_cond_estimation_5" placeholder="4">4</option>
                  <option value="5" data-label="lb_search_cond_estimation_6" placeholder="3.5">3.5</option>
                  <option value="4" data-label="lb_search_cond_estimation_7" placeholder="3">3</option>
                  <option value="3" data-label="lb_search_cond_estimation_8" placeholder="2">2</option>
                  <option value="2" data-label="lb_search_cond_estimation_9" placeholder="1">1</option>
                  <option value="1" data-label="lb_search_cond_estimation_10" placeholder="0">0</option>
                </select>
                            ~
                <select id="search_cond_estimation_to" class="rangeBoxSelect">
                  <option value="" data-label="lb_search_cond_none" placeholder="指定なし">指定なし</option>
                  <option value="10" data-label="lb_search_cond_estimation_1" placeholder="S">S</option>
                  <option value="9" data-label="lb_search_cond_estimation_2" placeholder="6">6</option>
                  <option value="8" data-label="lb_search_cond_estimation_3" placeholder="5">5</option>
                  <option value="7" data-label="lb_search_cond_estimation_4" placeholder="4.5">4.5</option>
                  <option value="6" data-label="lb_search_cond_estimation_5" placeholder="4">4</option>
                  <option value="5" data-label="lb_search_cond_estimation_6" placeholder="3.5">3.5</option>
                  <option value="4" data-label="lb_search_cond_estimation_7" placeholder="3">3</option>
                  <option value="3" data-label="lb_search_cond_estimation_8" placeholder="2">2</option>
                  <option value="2" data-label="lb_search_cond_estimation_9" placeholder="1">1</option>
                  <option value="1" data-label="lb_search_cond_estimation_10" placeholder="0">0</option>
                </select>
              </div>
            </div>

            <div class="otherConditions">
              <h3 data-label="lb_search_cond_inspect" placeholder="車検">車検</h3>
              <div class="ocBox" id="search_cond_inspect">
                <label class="chkBox_overwrite">
                  <input class="search_cond_inspect" type="radio" name="search_cond_inspect_value" value="" id="search_cond_inspect_id_" checked>
                  <label class="chkBox" for="search_cond_inspect_id_">
                    <span class="searchCondItem" data-label="lb_search_cond_none" placeholder="指定なし">指定なし</span>
                  </label>
                </label>

                <label class="chkBox_overwrite">
                  <input class="search_cond_inspect" type="radio" name="search_cond_inspect_value" value="1" id="search_cond_inspect_id_1">
                  <label class="chkBox" for="search_cond_inspect_id_1">
                    <span class="searchCondItem" data-label="lb_search_cond_inspect_1" placeholder="あり">あり</span>
                  </label>
                </label>

                <label class="chkBox_overwrite">
                  <input class="search_cond_inspect" type="radio" name="search_cond_inspect_value" value="0" id="search_cond_inspect_id_0">
                  <label class="chkBox" for="search_cond_inspect_id_0">
                    <span class="searchCondItem" data-label="lb_search_cond_inspect_2" placeholder="なし">なし</span>
                  </label>
                </label>

                <div class="clear"></div>
              </div>
            </div>

            <div class="otherConditions" style="display: none;">
              <h3 data-label="lb_search_cond_shift" placeholder="シフト">シフト</h3>
              <div class="ocBox" id="search_cond_shift">

                <label class="chkBox_overwrite">
                  <input class="search_cond_shift" type="radio" name="search_cond_shift_value" value="" id="search_cond_shift_id_" checked>
                  <label class="chkBox" for="search_cond_shift_id_">
                    <span class="searchCondItem" data-label="lb_search_cond_none" placeholder="指定なし">指定なし</span>
                  </label>
                </label>

                <label class="chkBox_overwrite">
                  <input class="search_cond_shift" type="radio" name="search_cond_shift_value" value="1" id="search_cond_shift_id_1">
                  <label class="chkBox" for="search_cond_shift_id_1">
                    <span class="searchCondItem" data-label="lb_search_cond_shift_1" placeholder="MT">MT</span>
                  </label>
                </label>

                <label class="chkBox_overwrite">
                  <input class="search_cond_shift" type="radio" name="search_cond_shift_value" value="2" id="search_cond_shift_id_2">
                  <label class="chkBox" for="search_cond_shift_id_2">
                    <span class="searchCondItem" data-label="lb_search_cond_shift_2" placeholder="AT">AT</span>
                  </label>
                </label>

                <div class="clear"></div>
              </div>
            </div>

            <div class="clear"></div>


          </div>
          <div class="selectBtn">検索</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="changeScreenModal">
    <h1 class="title">画像表示数切替</h1>
    <div class="closeBox"></div>
    <div class="dispSize size1"></div>
    <div class="dispSize size2"></div>
    <div class="dispSize size3"></div>
  </div>
  <div class="detailModal">
      <h1 class="title">詳細情報</h1>

      <div class="closeBox"></div>

      <div class="detailBox">
          <div class="closeBtn"></div>
          <h3 id="dmCarName">ハイラックスサーフワゴン　４ＷＤ</h3>

          <img id="dmImage" src="http://baku.aucmint.com/stock/0/2013/34563558_1.jpg" id="img201334563558">

          <div class="carInfoModal">
              <div class="infoDetailsModal">
                  <span id="dmInventoryNo">問合No:</span>
                  <span id="dmOutColor">外装色:</span>
                  <span id="dmRegistrationYear">年式:1999年01月</span>
                  <span id="dmEstimation">評価点:</span>
                  <span id="dmMileage">走行距離:186,980</span>
              </div>
              <div class="carPriceModal" id="dmPrice">1,408,000</div>
          </div>
      </div>

  </div>
  <header>
    <div class="main">
      <div class="maxCount">検索結果：0件</div>
      <div class="logo"></div>
      <div class="freeSearch" style="display:block;">
        <form id='free_text_search_form'>
          <select  style="display:none;">
            <option value='maker_jp'>メーカー</option>
            <option value='color_jp'>色</option>
            <option value='body_type_jp'>ボディータイプ</option>
            <option value='point01'>特記事項</option>
            <option value='all' selected>すべて</option>
          </select>
          <input type='input' />
          <input type='submit' value='Go'/>
        </form>
      </div>
    </div>
  </header>
  <section class="content">
    <div id="scroller_wrapper">
      <div id="scroller"></div>
    </div>
    <div class="clear"></div>
  </section>

  <div class="menuBtn"><div class="menuBtnTitle">メニュー</div></div>
  <ul class="menuContainer">
    <li class="circleCont circ1" id="changeDisp"><span class="icon"></span><span class="text">表示数変更</span></li>
    <li class="circleCont circ2" id="sort"><span class="icon"></span><span class="text">ソート</span></li>
    <li class="circleCont circ3" id="search"><span class="icon"></span><span class="text">検索</span></li>
  </ul>
</div>
